<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                align-items: center;">
        <a href="/templates/genres.html" style="color: black;">Jazz</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                align-items: center;">
        <a href="" style="color: black;">Pop</a>
    </div>
    <div style="height: 90px;
                width: 200px;
                background-color: aquamarine;
                margin: 0 auto;
                margin-top: 15px;
                font-size: 50px;
                display: flex;
                align-items: center;">
        <a href="" style="color: black;">Classic</a>
    </div>

</body>
</html>